/* ----------------------------------------------------- */
/*                      Variables                        */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/*                        Mixens                         */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/*                      Margins                          */
/* ----------------------------------------------------- */
.margin-top-small {
  margin-top: 0.85em; }

.padding-top-small {
  padding-top: 0.85em; }

.padding-bot-small {
  padding-bottom: 0.85em; }

.margin-small-em {
  margin: 1em 0 1em 0; }

.margin-bot-small {
  margin: 0 0 2em 0; }

.margin-bot-smallest {
  margin: 0 0 1em 0; }

.margin-right-small {
  margin-right: 4vw; }

.padding-left-small {
  padding-left: .5em;
  padding-right: .5em;
  right: 0;
  position: absolute; }

.padding-small-lr, #register, #usertable, #confirmation {
  padding-left: 2vw;
  padding-right: 2vw; }

/* ----------------------------------------------------- */
/*                   Simple classes                      */
/* ----------------------------------------------------- */
.header-font {
  font-family: Cabin; }

.block {
  display: block; }

.relative, #wrapper {
  position: relative; }

.absolute {
  position: absolute; }

.max-height-100 {
  max-height: 100%; }

.no-pointer {
  pointer-events: none; }

.caption {
  font-size: .8em;
  width: 100%; }

.align-center, #wrapper h1 {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.container {
  padding: 1rem; }

.fun-video {
  width: 100%;
  max-width: 630px; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.low-padding {
  padding: 0.85em !important; }

.no-padding * {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.full-width {
  width: 100% !important; }

.number-col {
  width: 10%;
  min-width: 5em; }

.community-col {
  width: 20%; }

.inline-block {
  display: inline-block !important; }

.transparent {
  background-color: transparent !important; }

.auto-width {
  width: auto !important; }

.indent {
  margin-left: 2em !important; }

.scroll-y {
  overflow-y: scroll; }

.fontred {
  color: red; }

/* ----------------------------------------------------- */
/*                 Centering   classes                   */
/* ----------------------------------------------------- */
.centerVertSpan {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.center {
  display: inline-block;
  vertical-align: middle; }

.centerHoriz, #wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* ----------------------------------------------------- */
/*                   Font   classes                      */
/* ----------------------------------------------------- */
.font-header {
  font-size: 6vw;
  font-weight: bold; }

.header-small {
  font-size: 1em;
  font-weight: bold; }

/* ----------------------------------------------------- */
/*                   Page   classes                      */
/* ----------------------------------------------------- */
body {
  background: url("../img/bg.jpg"); }

#wrapper {
  width: 500px; }

.userresults {
  width: 1000px !important; }

#wrapper h1 {
  color: #405c60; }

#wrapper input, select {
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 97%;
  padding: 10px 5px 10px 5px;
  border-radius: 5px; }

#wrapper input[type="submit"] {
  background-color: #405c60;
  color: white; }

#wrapper input[type="submit"]:hover {
  background-color: #5B8287; }

.error {
  color: red; }

#register, #usertable, #confirmation {
  -webkit-box-shadow: 0px 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  -moz-box-shadow: 0px 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  box-shadow: 0px 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  background: #f7f7f7;
  border-radius: 5px;
  border: 1px solid rgba(147, 184, 189, 0.8); }

#users {
  font-size: 16px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

#users th {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #405c60;
  color: white; }

#users td, #users th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px; }

#users tr:nth-child(even) {
  background-color: #f2f2f2; }

/* ----------------------------------------------------- */
/*                   Data   Icons                        */
/* ----------------------------------------------------- */
#wrapper label {
  color: #405c60;
  position: relative; }

.dataicon {
  padding: 10px 5px 10px 30px !important;
  width: 92% !important; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?iqsd9");
  src: url("../fonts/icomoon.eot?iqsd9#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?iqsd9") format("truetype"), url("../fonts/icomoon.woff?iqsd9") format("woff"), url("../fonts/icomoon.svg?iqsd9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:after {
  font-family: 'icomoon';
  content: attr(data-icon);
  position: absolute;
  color: #6a9fab;
  left: 10px;
  top: 30px;
  -webkit-font-smoothing: antialiased; }
